{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'custom/css/landing.css' %}" />
{% endblock %}

{% block content %}
<div class="overlay text-white">
    <div class="container d-flex flex-column justify-content-center vh-100">
        <h1 class="mb-4 display-1 fw-bold">Welcome to Grantha LMS!</h1>
        <p class="mb-4 fs-5">
            You can register or login either as a Librarian or as a Member of the
            Library.
        </p>
        <div class="d-flex flex-column align-items-md-baseline flex-md-row">
            <a
                href="{% url 'authentication:register-librarian' %}"
                role="button"
                class="btn btn-dark mb-3 my-md-0 me-md-3"
                >Register as Librarian</a
            >
            <a
                href="{% url 'authentication:register-member' %}"
                role="button"
                class="btn btn-dark mb-3 my-md-0 me-md-3"
                >Register as Member</a
            >
            <span class="text-center mb-3 my-md-0 me-md-3">Or</span>
            <a
                href="{% url 'authentication:login' %}"
                role="button"
                class="btn btn-secondary mb-3 my-md-0 me-md-3"
                >Login</a
            >
        </div>
    </div>
</div>
{% endblock %}
