{% extends 'authentication/credentials_form.html' %}

{% load crispy_forms_tags %}

{% block form_content %}
<h2 class="my-4 text-center">{{ user_type }} Registration</h2>
<form method="post" class="card p-4 mx-auto mb-4">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="btn btn-success mx-auto">Register</button>
</form>
<p class="text-center">
    Already have an account? Proceed to
    <a href="{% url 'authentication:login' %}" class="link-dark">Log In</a>
</p>
{% endblock %}
