{% extends 'base.html' %} {% block content %}
<div class="d-flex align-items-center">
    <h2 class="my-3 me-3">{{ book.title }}</h2>
    {% if is_requested %}
    <span class="badge text-bg-warning">Requested</span>
    {% elif is_available %}
    <span class="badge text-bg-success">Available</span>
    {% else %}
    <span class="badge text-bg-danger">Not Available</span>
    {% endif %}
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3 fw-bold">ISBN</div>
            <div class="col-sm-9 text-secondary">{{ book.isbn }}</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3 fw-bold">Publisher</div>
            <div class="col-sm-9 text-secondary">{{ book.publisher }}</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3 fw-bold">Author(s)</div>
            <div class="col-sm-9 text-secondary">
                {% if authors %}
                <!-- Display authors joined by comma -->
                {{ authors|join:', ' }} {% else %}
                <!-- Display not available -->
                None {% endif %}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-3 fw-bold">Categories</div>
            <div class="col-sm-9 text-secondary">
                {% if categories %}
                <!-- Display categories joined by comma -->
                {{ categories|join:', ' }} {% else %}
                <!-- Display not available -->
                None {% endif %}
            </div>
        </div>
    </div>
</div>
{% if not user.is_authenticated and is_available %}
<a href="{% url 'dashboard:request-book' book.id %}" class="btn btn-dark mt-3"
    >Request book</a
>
{% elif not user.is_librarian and not is_requested and is_available %}
<a href="{% url 'dashboard:request-book' book.id %}" class="btn btn-dark mt-3"
    >Request book</a
>
{% endif %} {% endblock %}
