{% extends 'base.html' %} {% block content %}
<h2 class="m-3">Authors</h2>
<div class="table-responsive mx-3 text-nowrap">
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID #</th>
                <th scope="col">Name</th>
                <th scope="col">Contact No</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Date of birth</th>
                {% if request.user.is_librarian %}
                <th scope="col">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for author in object_list %}
            <tr>
                <th scope="row">{{ author.id }}</th>
                <td>{{ author.name }}</td>
                <td>{{ author.contact_no }}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.address }}</td>
                <td>{{ author.date_of_birth }}</td>
                {% if request.user.is_librarian %}
                <td>
                    <a
                        href="{% url 'dashboard:update-author' author.id %}"
                        class="link-underline link-underline-opacity-0 link-success mx-1"
                        ><i class="fa fa-pen-to-square fs-5"></i
                    ></a>
                    <a
                        href="{% url 'dashboard:delete-author' author.id %}"
                        class="link-underline link-underline-opacity-0 link-danger mx-1"
                        ><i class="fa fa-trash fs-5"></i
                    ></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Sorry, no authors found.</p>
    {% endif %}
</div>
{% if request.user.is_librarian %}
<a
    class="btn btn-success mx-3"
    href="{% url 'dashboard:create-author' %}"
    role="button"
    >Add Author</a
>
{% endif %} {% endblock %}
