{% extends 'base.html' %} {% block content %}
<h2 class="m-3">Book Issues</h2>
<div class="mx-3">
    {% if issues %}
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">Copy #</th>
                    <th scope="col">Book</th>
                    <th scope="col">Issued Member</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Returned Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    {% if issue.book_copy %}
                    <td>{{ issue.book_copy.id }}</td>
                    <td>{{ issue.book_copy.book }}</td>
                    {% else %}
                    <td>N/A</td>
                    <td>N/A</td>
                    {% endif %}
                    <td>{{ issue.member }}</td>
                    <td>{{ issue.issue_date }}</td>
                    <td>{{ issue.due_date }}</td>
                    {% if issue.returned_date %}
                    <td>{{ issue.returned_date }}</td>
                    <td>No actions possible</td>
                    {% else %}
                    <td>Not returned yet</td>
                    <td>
                        <a
                            href="{% url 'dashboard:return-issued' issue.id %}"
                            class="link-underline link-underline-opacity-0 link-primary"
                            >Return to Library</a
                        >
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No issues made.</p>
    {% endif %}
    <a
        class="btn btn-success"
        href="{% url 'dashboard:create-issue' %}"
        role="button"
        >Make an Issue</a
    >
</div>
{% endblock %}
