{% extends 'base.html' %} {% block content %}
<h2 class="my-3">Categories</h2>
{% include 'dashboard/search_form.html' %}
<div class="table-responsive text-nowrap">
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a
                        href="{% url 'dashboard:update-category' category.id %}"
                        class="link-underline link-underline-opacity-0 link-success mx-1"
                        ><i class="fa fa-pen-to-square fs-5"></i
                    ></a>
                    <a
                        href="{% url 'dashboard:delete-category' category.id %}"
                        class="link-underline link-underline-opacity-0 link-danger mx-1"
                        ><i class="fa fa-trash fs-5"></i
                    ></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Sorry, no categories found.</p>
    {% endif %}
</div>
<a
    class="btn btn-success"
    href="{% url 'dashboard:create-category' %}"
    role="button"
    >Add Category</a
>
{% endblock %}
