{% extends 'base.html' %} {% block content %}
<h2 class="m-3">Publishers</h2>
<div class="table-responsive mx-3 text-nowrap">
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID #</th>
                <th scope="col">Name</th>
                <th scope="col">Contact No</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for publisher in object_list %}
            <tr>
                <th scope="row">{{ publisher.id }}</th>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.contact_no }}</td>
                <td>{{ publisher.address }}</td>
                <td>{{ publisher.email }}</td>
                <td>
                    <a
                        href="{% url 'dashboard:update-publisher' publisher.id %}"
                        class="link-underline link-underline-opacity-0 link-primary"
                        >Update</a
                    >
                    |
                    <a
                        href="{% url 'dashboard:delete-publisher' publisher.id %}"
                        class="link-underline link-underline-opacity-0 link-danger"
                        >Delete</a
                    >
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Sorry, no publishers found.</p>
    {% endif %}
</div>
<a
    class="btn btn-success mx-3"
    href="{% url 'dashboard:create-publisher' %}"
    role="button"
    >Add Publisher</a
>
{% endblock %}
