{% extends 'base.html' %} {% block content %}
<h2 class="my-3">Books on Library</h2>
<form class="input-group mb-3">
    <select name="filter" class="form-select" style="max-width: 8rem">
        <option {% if p_filter == '' or p_filter == 'title' %}selected{% endif %} value="title">Title</option>
        <option {% if p_filter == 'author' %}selected{% endif %} value="author">Author</option>
        <option {% if p_filter == 'publisher' %}selected{% endif %} value="publisher">Publisher</option>
        <option {% if p_filter == 'category' %}selected{% endif %} value="category">Category</option>
        <option {% if p_filter == 'isbn' %}selected{% endif %} value="isbn">ISBN</option>
    </select>
    <input type="text" name="query" class="form-control" value="{% if p_query %}{{ p_query }}{% endif %}"/>
    <button type="submit" class="btn btn-dark">
        <i class="fa fa-magnifying-glass"></i>
    </button>
</form>
<div class="table-responsive text-nowrap">
    {% if books %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Title</th>
                <th scope="col">Author(s)</th>
                <th scope="col">ISBN</th>
                <th scope="col">Publisher</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ book.title }}</td>
                <td>
                    {{ book.author }}
                    {% if book.multi_authors %} et al. {% endif %}
                </td>
                <td>
                    {% if book.isbn %} {{ book.isbn }} {% else %} 0 {% endif %}
                </td>
                <td>{{ book.publisher }}</td>
                <td>
                    {% if book.is_requested %}
                    <span class="badge rounded-pill text-bg-warning"
                        >Requested</span
                    >
                    {% elif book.is_available %}
                    <span class="badge rounded-pill text-bg-success"
                        >Available</span
                    >
                    {% else %}
                    <span class="badge rounded-pill text-bg-danger"
                        >Not Available</span
                    >
                    {% endif %}
                </td>
                <td>
                    {% if request.user.is_librarian %}
                    <a
                        href="{% url 'dashboard:book-detail' book.id %}"
                        class="link-underline link-underline-opacity-0 link-primary mx-1"
                    >
                        <i class="fa fa-circle-info fs-5"></i
                    ></a>
                    <a
                        href="{% url 'dashboard:update-book' book.id %}"
                        class="link-underline link-underline-opacity-0 link-success mx-1"
                        ><i class="fa fa-pen-to-square fs-5"></i
                    ></a>
                    <a
                        href="{% url 'dashboard:delete-book' book.id %}"
                        class="link-underline link-underline-opacity-0 link-danger mx-1"
                        ><i class="fa fa-trash fs-5"></i
                    ></a>
                    {% else %}
                    <a
                        href="{% url 'dashboard:book-detail' book.id %}"
                        class="link-underline link-underline-opacity-0 link-primary"
                        ><i class="fa fa-circle-info fs-5"></i
                    ></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Sorry, no books found.</p>
    {% endif %}
</div>
{% if request.user.is_librarian %}
<a
    class="btn btn-success"
    href="{% url 'dashboard:create-book' %}"
    role="button"
    >Add Book</a
>
{% endif %} {% endblock %}
