{% extends 'base.html' %} {% block content %}
<h2 class="m-3">Books</h2>
<div class="table-responsive mx-3 text-nowrap">
    {% if books %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID #</th>
                <th scope="col">Title</th>
                <th scope="col">ISBN</th>
                <th scope="col">Publisher</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.publisher }}</td>
                <td>
                    {% if request.user.is_librarian %}
                    <a
                        href="{% url 'dashboard:book-detail' book.id %}"
                        class="link-underline link-underline-opacity-0 link-primary mx-1"
                    >
                        <i class="fa fa-circle-info fs-5"></i
                    ></a>
                    <a
                        href="{% url 'dashboard:update-book' book.id %}"
                        class="link-underline link-underline-opacity-0 link-success mx-1"
                        ><i class="fa fa-pen-to-square fs-5"></i
                    ></a>
                    <a
                        href="{% url 'dashboard:delete-book' book.id %}"
                        class="link-underline link-underline-opacity-0 link-danger mx-1"
                        ><i class="fa fa-trash fs-5"></i
                    ></a>
                    {% else %}
                    <a
                        href="{% url 'dashboard:book-detail' book.id %}"
                        class="link-underline link-underline-opacity-0 link-primary"
                        ><i class="fa fa-circle-info fs-5"></i
                    ></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Sorry, no books found.</p>
    {% endif %}
</div>
{% if request.user.is_librarian %}
<a
    class="btn btn-success mx-3"
    href="{% url 'dashboard:create-book' %}"
    role="button"
    >Add Book</a
>
{% endif %} {% endblock %}
