<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-2">
    <div class="col">
        <div class="card text-bg-dark h-100">
            <a
                href="{% url 'dashboard:list-authors' %}"
                class="card-body link-underline link-underline-opacity-0"
            >
                <h5 class="card-title"><i class="fa fa-eye"></i> Authors</h5>
                <div class="card-text">
                    View authors information
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-dark h-100">
            <a
                href="{% url 'dashboard:list-publishers' %}"
                class="card-body link-underline link-underline-opacity-0"
            >
                <h5 class="card-title"><i class="fa fa-eye"></i> Publishers</h5>
                <div class="card-text">
                    View publishers information
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-dark h-100">
            <a
                href="{% url 'dashboard:list-categories' %}"
                class="card-body link-underline link-underline-opacity-0"
            >
                <h5 class="card-title"><i class="fa fa-eye"></i> Categories</h5>
                <div class="card-text">
                    View categories information
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-dark h-100">
            <a
                href="{% url 'dashboard:list-books' %}"
                class="card-body link-underline link-underline-opacity-0"
            >
                <h5 class="card-title"><i class="fa fa-eye"></i> Books</h5>
                <div class="card-text">
                    View books information and request a book
                    <i class="fa fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
</div>
