{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<h1 class="mt-3 display-6">Welcome, {{ user }}!</h1>
{% endif %}

<!-- Stats -->
<div class="row row-cols-2 row-cols-lg-4 g-3 mt-2">
    {% if user.is_authenticated %}
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body text-center">
                <h5 class="card-title fs-3 fw-bold">{{ all_titles }}</h5>
                <p class="card-text fs-5">Titles</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body text-center">
                <h5 class="card-title fs-3 fw-bold">{{ available_titles }}</h5>
                <p class="card-text fs-5">Titles Available</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if user.is_authenticated %}
<!-- Taken books -->
<h3 class="my-3">Issued Copies</h3>
{% if issues %}
<div class="table-responsive text-nowrap">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Book</th>
                <th scope="col">Copy #</th>
                <th scope="col">Issue Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% if issue.book_copy %}
                <td>{{ issue.book_copy.book }}</td>
                <td>{{ issue.book_copy.id }}</td>
                {% else %}
                <td>N/A</td>
                <td>N/A</td>
                {% endif %}
                <td>{{ issue.issue_date }}</td>
                <td>{{ issue.due_date }}</td>
                <td>
                    {% if issue.is_due %}
                    <span class="badge rounded-pill text-bg-danger"
                        >Overdue</span
                    >
                    {% else %}
                    <span class="badge rounded-pill text-bg-primary"
                        >Not due</span
                    >
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Sorry, no issues found.</p>
{% endif %}

<!-- Book Requests -->
<h3 class="mb-3">Pending Requests</h3>
{% if requests %}
<div class="table-responsive text-nowrap">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Book</th>
                <th scope="col">Requested On</th>
            </tr>
        </thead>
        <tbody>
            {% for book_request in requests %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ book_request.book }}</td>
                <td>{{ book_request.request_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Sorry, no book requests made.</p>
{% endif %}

<!-- Late fines -->
<h3 class="mb-3">Late Fines</h3>
{% if late_fines %}
<div class="table-responsive text-nowrap">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">Book</th>
                <th scope="col">Copy #</th>
                <th scope="col">Overdue Days</th>
                <th scope="col">Fined Amount</th>
                <th scope="col">Fined Date</th>
            </tr>
        </thead>
        <tbody>
            {% for fine in late_fines %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ fine.book_copy.book }}</td>
                <td>{{ fine.book_copy.id }}</td>
                <td>{{ fine.late_days }}</td>
                <td>Rupees {{ fine.amount }}</td>
                <td>{{ fine.fined_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Sorry, no late fines incurred.</p>
{% endif %} {% endif %} {% endblock %}
