{% extends 'base.html' %} {% block content %}
<h2 class="my-3">Return book to Library</h2>
<p class="mb-3"><strong>Due status:</strong> {{ message }}</p>
<p class="mb-3">
    Are you sure you want to return copy of "{{ book }}" issued to "{{member}}"
    back to Library?
</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-dark mx-auto">
        {% if due_days %} Clear late fine and Return book {% else %} Yes, Return
        book {% endif %}
    </button>
</form>
{% endblock %}
