{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grantha LMS</title>
        <link
            rel="stylesheet"
            href="{% static 'bootstrap-5.3.0-dist/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'fontawesomefree/css/fontawesome.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'fontawesomefree/css/solid.css' %}"
        />
        <link rel="stylesheet" href="{% static 'custom/css/messages.css' %}">
    </head>
    <body>
        {% if 'auth/' not in request.path %}
            {% include 'navbar.html' %}
        {% endif %}
        <div class="container mb-4">
            {% block content %}{% endblock %}
        </div>
        {% if messages %}
            <div class="abs-messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %} 
        <script src="{% static 'bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'custom/js/alertDismiss.js' %}"></script>
    </body>
</html>
