{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grantha LMS</title>
        <link
            rel="stylesheet"
            href="{% static 'bootstrap-5.3.0-dist/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'fontawesomefree/css/fontawesome.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'fontawesomefree/css/solid.css' %}"
        />
        <link rel="stylesheet" href="{% static 'custom/css/messages.css' %}" />
    </head>
    <body>
        {% if 'auth/' not in request.path %}
        <!-- comment to ensure formatter does not mess this up -->
        {% include 'navbar.html' %} {% endif %}
        <div class="container mb-4">{% block content %}{% endblock %}</div>
        {% if messages %}
        <div id="dj-messages">
            {% for message in messages %} {% if message.tags == 'error' %}
            <div
                class="alert alert-danger alert-dismissable fade show"
                role="alert"
            >
                {{ message }}
            </div>
            {% else %}
            <div
                class="alert alert-{{ messages.tags }} alert-dismissable fade show"
                role="alert"
            >
                {{ message }}
            </div>
            {% endif %} {% endfor %}
        </div>
        {% endif %}
        <script src="{% static 'bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'custom/js/alertDismiss.js' %}"></script>
    </body>
</html>
