<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a href="{% url 'dashboard:home' %}" class="nav-link text-white">
            <i class="fa fa-home"></i> Home
        </a>
    </li>
    <hr />
    <li class="nav-item">
        <a
            href="{% url 'dashboard:list-authors' %}"
            class="nav-link text-white"
        >
            <i class="fa fa-pen-nib"></i> Authors
        </a>
    </li>
    <li class="nav-item">
        <a
            href="{% url 'dashboard:list-publishers' %}"
            class="nav-link text-white"
        >
            <i class="fa fa-print"></i> Publishers
        </a>
    </li>
    <li class="nav-item">
        <a
            href="{% url 'dashboard:list-categories' %}"
            class="nav-link text-white"
        >
            <i class="fa fa-tag"></i> Categories
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'dashboard:list-books' %}" class="nav-link text-white">
            <i class="fa fa-book"></i> Books
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'dashboard:list-issues' %}" class="nav-link text-white">
            <i class="fa fa-arrows-left-right"></i>
            Issues
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'dashboard:list-fines' %}" class="nav-link text-white">
            <i class="fa fa-rupee-sign"></i> Late Fines
        </a>
    </li>
    <li class="nav-item">
        <a
            href="{% url 'dashboard:book-requests' %}"
            class="nav-link text-white"
        >
            <i class="fa fa-hand"></i> Book Requests
        </a>
    </li>
    <li class="nav-item">
        <a
            href="{% url 'dashboard:list-members' %}"
            class="nav-link text-white"
        >
            <i class="fa fa-users"></i> Members
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'qrmanager:upload-qr' %}" class="nav-link text-white">
            <i class="fa fa-qrcode"></i> QR Upload
        </a>
    </li>
</ul>
