{% load static %} {% if not request.path == '/' %}
<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid position-relative">
        <button
            class="navbar-toggler position-absolute d-lg-none"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasResponsive"
            aria-controls="offcanvasResponsive"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a
            class="navbar-brand w-100 text-center fs-4 me-0"
            href="{% url 'dashboard:home' %}"
            ><img
                src="{% static 'custom/images/grantha.svg' %}"
                alt="grantha-logo"
                id="grantha-logo"
        /></a>
    </div>
</nav>
{% endif %}
