{% if not request.path == '/' %}
<nav
    class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
    data-bs-theme="dark"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard:home' %}"
            >Grantha LMS</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_librarian %} 
                    {% include 'librarian_navitems.html' %} 
                {% else %}
                    {% include 'member_navitems.html' %}
                {% endif %}
            </ul>
            <span class="navbar-text text-white">
                {% if user.is_authenticated %} Logged in as {{ user }} |
                <a href="{% url 'authentication:logout' %}"
                    ><i class="fa fa-right-from-bracket"></i> Logout</a
                >
                {% else %}
                <a href="{% url 'login-or-register' %}"
                    ><i class="fa fa-right-to-bracket"></i> Login or Register</a
                >
                {% endif %}
            </span>
        </div>
    </div>
</nav>
{% endif %}
